@{
    ViewData["Title"] = "About Page";
}

<div class="container about">
    <h2>Информация о данном проекте</h2>
    <h3>О нас</h3>
    <p>
        Научно-образовательный проект «Полоцк. Освобождение. Память» является результатом работы сотрудников,
        студентов и магистрантов кафедры истории и туризма гуманитарного факультета и факультета информационных
        технологий учреждения образования «Полоцкий государственный университет» совместно с создателями и
        сотрудниками Народного музея боевой славы ГУО «Средняя школа №2 г. Новополоцка» при активной поддержке Е.А.
        Трапезниковой.
    </p>
    <p>
        Данная работа ведётся в рамках Постановления Совета Министров Республики Беларусь от 4 июня 2014 г. № 534 «Об
        утверждении Государственной программы на 2015 – 2020 годы по увековечению погибших при защите Отечества и
        сохранению памяти о жертвах войн», направленной «на гражданско-патриотическое воспитание, формирование
        уважительного отношения к погибшим при защите Отечества, событиям, вошедшим в историю Беларуси как символы
        героизма, мужества, стойкости и самопожертвования народа».
    </p>
    <h3> Цель проекта</h3>
    <p>
        Предоставление информации о погибших солдатах Красной Армии и местах их захоронения и о фронтовиках,
        оставивших после себя воспоминания о событиях освобождения Полотчины осенью 1943 г. – летом 1944 г.
    </p>
    <h3>Задачи проекта:</h3>
    <ul>
        <li>
            сохранение памяти о погибших и выживших солдатах Красной Армии, принимавших участие в освобождении
            Полоцка и Полоцкого района осенью 1943 г. – лето 1944 г.;
        </li>
        <li>
            повышение уровня информативности общественности о событиях осени 1943 г. – лета 1944 г. на территории
            Полотчины;
        </li>
        <li>воспитание гражданско-патриотических чувств молодого поколения.</li>
    </ul>
    <p>
        <b>Территориальные границы</b> соответствуют городской черте г. Полоцка и Полоцкого района по состоянию на
        2018 г.
    </p>
    <p>
        <b>Хронологические рамки</b> – период начала освобождения территории Полоцкого района войсками 1-го
        Прибалтийского фронта в ходе осенне-зимней кампании 1943 – 1944 гг. и Полоцкой наступательной операции (29
        июня – 4 июля 1944 г.).
    </p>
    <p>
        <b>Основу базы данных</b> составляют анкеты, письма с воспоминаниями, фотографии, которые на протяжении
        нескольких десятилетий собирались учениками поисковой группы «Красные следопыты» под руководством учителя
        русского языка и литературы ГУО «Средняя школа №2 г. Новополоцка» Евгении Анатольевны Трапезниковой.
    </p>
    <p>
        Кроме того, представлены паспорта братских захоронений на территории г. Полоцка по состоянию на 2018 г.;
        истории формирования и боевого пути воинских частей, принимавших участие в освобождении от нацистов
        территории Полотчины.
    </p>
    <h3>Участники проекта</h3>

    <p class="person">
        <b>Корсак Алеся Иосифовна</b> – координатор проекта<br>
        кандидат исторических наук, доцент<br>
        E-mail: a.korsak@psu.by<br>

        <b>Антонова Ксения Александровна</b> – сокоординатор проекта, главный хранитель фондов Народного музея боевой
        славы ГУО «Средняя школа №2 г. Новополоцка»<br>
        <b>Каминский Сергей Александрович</b> – модератор<br>
        <b>Малей Ирина Александровна</b> – модератор<br>
        <b>Попелыгина Александра Сергеевна</b> – модератор
    </p>

    <p>Работы по пополнению банка данных продолжаются.</p>

</div>